beautifulsoup4==4.11.1
certifi==2022.9.24
charset-normalizer==2.1.1
Cython @ file:///buildstream/freedesktop-sdk/components/cython.bst
idna==3.4
Mako @ file:///buildstream/freedesktop-sdk/components/python3-mako.bst
Markdown @ file:///buildstream/freedesktop-sdk/components/python3-markdown.bst
MarkupSafe @ file:///buildstream/freedesktop-sdk/components/python3-markupsafe.bst
meson==0.63.3
Pygments @ file:///buildstream/freedesktop-sdk/components/python3-pygments.bst
requests==2.28.1
six @ file:///buildstream/freedesktop-sdk/components/python3-six.bst
soupsieve==2.3.2.post1
urllib3==1.26.12
